config MTK_K303B_MAG
	bool "K303B for MediaTek package"
	default n
	help
	  It support different magnetometer sensor.
          If this option is set,
	  it will support
          K303B Magnetometer.
