
/dts-v1/;

#include "../muse6750_hdk_n_lge.dtsi"

#include "../mt6750-common.dtsi"
#include "mt6750-mlv5_skt_kr-power.dtsi"
#include "mt6750-mlv5_skt_kr-panel.dtsi"
#include "mt6750-mlv5_skt_kr-touch.dtsi"
#include "mt6750-mlv5_skt_kr-sensor.dtsi"
#include "mt6750-mlv5_skt_kr-fingerprint.dtsi"
#include "mt6750-mlv5_skt_kr-misc.dtsi"
#include "mt6750-mlv5_skt_kr-sound.dtsi"
#include "mt6750-mlv5_skt_kr-nfc.dtsi"
#include "mt6750-mlv5_skt_kr-common.dtsi"
#include "mt6750-mlv5_skt_kr-usb.dtsi"
#include "mt6750-mlv5_skt_kr-camera.dtsi"
#include "mt6750-mlv5_skt_kr-tdmb.dtsi"

/ {
	/*
	typedef enum {
		HW_REV_0 = 0,
		HW_REV_0_1,
		HW_REV_A,
		HW_REV_B,
		HW_REV_C,
		HW_REV_D,
		HW_REV_E,
		HW_REV_1_0,
		HW_REV_1_1,
		HW_REV_MAX
	} rev_type;
	*/
	lge,pcb_revision = <0x6>; // rev_e
};

&i2c1 {
	cust_accel@1d {
		direction = <2>;
	};

	cust_mag@1e {
		direction = <2>;
	};
};

&bat_meter {
	/* cust_battery_meter.h */
	r_charger_2 = <51 >;
};
