
/dts-v1/;

#include "../muse6750_hdk_n_lge.dtsi"

#include "../mt6750-common.dtsi"
#include "mt6750-lv5_global_com-power.dtsi"
#include "mt6750-lv5_global_com-panel.dtsi"
#include "mt6750-lv5_global_com-touch.dtsi"
#include "mt6750-lv5_global_com-sensor.dtsi"
#include "mt6750-lv5_global_com-fingerprint.dtsi"
#include "mt6750-lv5_global_com-misc.dtsi"
#include "mt6750-lv5_global_com-sound.dtsi"
#include "mt6750-lv5_global_com-nfc.dtsi"
#include "mt6750-lv5_global_com-common.dtsi"
#include "mt6750-lv5_global_com-usb.dtsi"
#include "mt6750-lv5_global_com-camera.dtsi"

/ {
	/*
	typedef enum {
		HW_REV_0 = 0,
		HW_REV_0_1,
		HW_REV_A,
		HW_REV_B,
		HW_REV_C,
		HW_REV_D,
		HW_REV_E,
		HW_REV_1_0,
		HW_REV_1_1,
		HW_REV_MAX
	} rev_type;
	*/
	lge,pcb_revision = <0x5>; // rev_d
};

&i2c1 {
	cust_accel@1d {
		direction = <2>;
	};

	cust_mag@1e {
		direction = <2>;
	};

	/delete-node/ rt9460_charger@25;
};

&i2c3 {
	rt9460_charger@25 {
		status = "okay";
		compatible = "rt,rt9460";
		reg = <0x25>;
		interrupt-parent = <&eintc>;
		interrupts = <8 0x2002>;
		debounce = <8 0>;
		rt,irq_gpio = <&pio 8 0x2002>;
		rt,te_en;
		rt,iinlm_sel = <2>;
		rt,iprec = <2>;
		rt,ieoc = <2>;
		rt,deadbat = <8>;
		rt,vprec = <2>;
		rt,voreg = <35>;
		rt,icc = <3125>;
		rt,aicr = <800>;
		rt,chg_volt = <4400>;
		rt,bst_volt = <5000>;
	};
};

&bat_meter {
	/* cust_battery_meter.h */
	r_charger_2 = <51 >;
};
