CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
CONFIG_CGROUP_DEBUG=y
CONFIG_SYSCTL_SYSCALL=y
CONFIG_CC_STACKPROTECTOR_REGULAR=y
CONFIG_CFG80211_DEBUGFS=y
CONFIG_MTK_NET_LOGGING=y
CONFIG_MT_ENG_BUILD=y
CONFIG_MTK_MMPROFILE_SUPPORT=y
CONFIG_MMPROFILE=y
CONFIG_MTK_MEMCFG=y
CONFIG_MTK_AEE_MRDUMP=y
CONFIG_MTK_WQ_DEBUG=y
CONFIG_MT_SCHED_MONITOR=y
CONFIG_MT_RT_THROTTLE_MON=y
CONFIG_PREEMPT_MONITOR=y
CONFIG_MT_SCHED_TRACE=y
CONFIG_DM_DEBUG=y
CONFIG_LGE_PANIC_ON_WDTK_RT_THROTTLING=y
CONFIG_EXT4_DEBUG=y
CONFIG_SLUB_DEBUG_PANIC_ON=y
# CONFIG_SLUB_DEBUG_ON is not set
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_DEBUG_KMEMLEAK_EARLY_LOG_SIZE=3200
CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF=y
CONFIG_DETECT_HUNG_TASK=y
CONFIG_PANIC_TIMEOUT=5
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_LIST=y
CONFIG_RCU_TRACE=y
CONFIG_MTK_FTRACE_DEFAULT_ENABLE=y
CONFIG_DMA_API_DEBUG=y
CONFIG_KGDB=y
CONFIG_KGDB_KDB=y
CONFIG_MTK_SCHED_TRACERS=y
