
/dts-v1/;

#include "../muse6750_hdk_n_lge.dtsi"

#include "../mt6750-common.dtsi"

#include "mt6750-lv7_global_com-power.dtsi"
#include "mt6750-lv7_global_com-panel.dtsi"
#include "mt6750-lv7_global_com-touch.dtsi"
#include "mt6750-lv7_global_com-sensor.dtsi"
#include "mt6750-lv7_global_com-fingerprint.dtsi"
#include "mt6750-lv7_global_com-misc.dtsi"
#include "mt6750-lv7_global_com-sound.dtsi"
#include "mt6750-lv7_global_com-nfc.dtsi"
#include "mt6750-lv7_global_com-common.dtsi"
#include "mt6750-lv7_global_com-usb.dtsi"
#include "mt6750-lv7_global_com-camera.dtsi"
#include "mt6750-lv7_global_com-dtv.dtsi"

/ {
	/*
	typedef enum {
		HW_REV_0 = 0,
		HW_REV_0_1,
		HW_REV_A,
		HW_REV_B,
		HW_REV_C,
		HW_REV_1_0,
		HW_REV_1_1,
		HW_REV_MAX
	} rev_type;
	*/
	lge,pcb_revision = <0x3>; // rev_b
};

&bat_meter {
	/* cust_battery_meter.h */
	r_charger_2 = <39 >;
};

&i2c1 {
	cust_accel@6a {
		compatible = "mediatek,lsm6dse-acc";
		direction = <7>;
	};

	cust_gyro@6c {
		compatible = "mediatek,lsm6dse-gyro";
		direction = <7>;
	};

	cust_accel@68 {
		compatible = "mediatek,bmi160_acc";
		direction = <4>;
	};

	cust_gyro@69 {
		compatible = "mediatek,bmi160_gyro";
		direction = <4>;
	};

	cust_mag@c {
		direction = <4>;
	};
};
