config MTK_LSM6DSE_GYRO
        bool "LSM6DSEG for MediaTek package"
        default n
	help
        It support different gyroscope sensor.
        If this option is set,
	  	it will support
         MTK_LSM6DSE gyroscope.
